<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\TypiQLDebug.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <cors enabled="true" failUnlistedOrigins="false">
        <remove origin="http://localhost:3000" />
        <add origin="http://localhost:3000" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="PATCH" />
            <add method="GET" />
            <add method="POST" />
            <add method="OPTIONS" />
            <add method="DELETE" />
          </allowMethods>
          <exposeHeaders>
            <add header="Content-Type" />
            <add header="Accept" />
          </exposeHeaders>
        </add>
        <remove origin="http://cthulu" />
        <add origin="http://chtulu" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="PATCH" />
            <add method="GET" />
            <add method="POST" />
            <add method="OPTIONS" />
            <add method="DELETE" />
          </allowMethods>
          <exposeHeaders>
            <add header="Content-Type" />
            <add header="Accept" />
          </exposeHeaders>
        </add>
        <remove origin="http://cthulu:3000" />
        <add origin="http://cthulu:3000" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="PATCH" />
            <add method="GET" />
            <add method="POST" />
            <add method="OPTIONS" />
            <add method="DELETE" />
          </allowMethods>
          <exposeHeaders>
            <add header="Content-Type" />
            <add header="Accept" />
          </exposeHeaders>
        </add>
        <remove origin="http://davidallanscott.ca" />
        <add origin="http://davidallanscott.ca" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="PATCH" />
            <add method="GET" />
            <add method="POST" />
            <add method="OPTIONS" />
            <add method="DELETE" />
          </allowMethods>
          <exposeHeaders>
            <add header="Content-Type" />
            <add header="Accept" />
          </exposeHeaders>
        </add>
        <remove origin="https://davidallanscott.ca" />
        <add origin="https://davidallanscott.ca" allowCredentials="true" maxAge="120">
          <allowHeaders allowAllRequestedHeaders="true">
            <add header="Content-Type" />
            <add header="Accept" />
          </allowHeaders>
          <allowMethods>
            <add method="PATCH" />
            <add method="GET" />
            <add method="POST" />
            <add method="OPTIONS" />
            <add method="DELETE" />
          </allowMethods>
          <exposeHeaders>
            <add header="Content-Type" />
            <add header="Accept" />
          </exposeHeaders>
        </add>
      </cors>
    </system.webServer>
  </location>
</configuration>